h3{
    color: #0c2461;
}

.quiz{
    color: #1e3799;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.quiz:hover{
    cursor: pointer;
    background-color: rgb(206, 203, 203);
}

.row-cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-cat .column{
    padding: 8px;
    border-radius: 10px;
    width: 150px;
    margin: auto;
}

.typejeu{
    background-color: tomato;
    
}

.categorie{
    background-color: teal;
}

.souscat{
    background-color: rgb(223, 236, 100);
}

.row h6{
    width: auto;
    margin: auto;
}

.row h6 span{
    color: royalblue;
}
